{
  "presets": [
    [
      "@babel/preset-env",
      {
        "corejs": "3.22"
      }
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "helpers": false,
        "regenerator": false
      }
    ]
  ]
}
